.content-title::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50em;
  width: 35px; /* Adjust the width of the short line as needed */
  border-bottom: 4px solid #F1F6F9; /* Adjust the line color and style as needed */
  transform: translateX(-50%);
}
.home{
  background-image: url("../src/assets/desktop.jpg");
  background-size: 100vw 100vh;
  height: 100vh;
  min-width: 100vw;
  position: relative;
}