@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    font-family:  Arial, 'Source Sans Pro', 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
::-webkit-resizer{
    display: none;
}
::placeholder{
    font-size: 0.8em;
    letter-spacing: 1px;
}
.poppins{
    font-family: "Poppins";
}